* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Header */

.container {
  max-width: 1280px;
  margin: auto;
}

header {
  background-color: #b94007;
  color: white;
  /* padding: 1em 0; */
  /* display: flex;
  justify-content: space-between; */
}

.menu_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #fff;
  font-size: 3em;
  margin-left: 10px;
}

.menu_list {
  display: flex;
  list-style-type: none;
}

.menu_list a {
  display: inline-block;
  padding: 2em 1.5em;
  color: #fff;
}

.menu_list a:hover {
  background-color: #fff;
  color: #b94007;
}

/* Hero */

.header_hero {
  background-image: url("https://images.unsplash.com/photo-1644868731706-bdb6485f4274?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=930&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  position: relative;
}

.hero_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fff;
  text-align: center;
  background-color: #b94007;
  padding: 5em;
  border-radius: 5px;
  /* opacity: ; */
}

@media (max-width: 768px) {
  .menu_wrapper {
    flex-direction: column;
    text-align: center;
    display: block;
  }

  .menu_list {
    justify-content: center;
  }

  .menu_list a {
    padding: 1em;
  }
}

@media (max-width: 650px) {
  .menu_list {
    display: block;
  }
  .menu_list a {
    width: 100%;
    padding: 1em;
  }

  .logo a {
    margin: 0;
  }
}
